@import "../helpers";
@import "../components";

:root {
    // Colors
    --color-primary: #121212;
    --color-accent: #f0f0f0;
    --color-accent-dark: #e0e0e0;
    --color-white: #fafafa;
    --color-grey-light: #aaaaaa;
    --color-grey-normal: #808080;
    --color-grey-dark: #606060;
    --color-dark: #080808;
    --color-error: #cc2a2a;
    --color-success: #2acc3a;
    --color-warning: #ec8220;
    --color-info: #dcec20;
    --color-alert-primary: #2059ec;
    --color-alert-secondary: #4920ec;

    // Fonts
    --font-family: Inter, Arial, sans-serif;

    // Others
    --border-radius: 8px;
}

.header {
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 1rem 4%;
    color: var(--color-primary);
}

.divsion__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .division__box {
        margin: 2rem;
        background-color: var(--color-white);
        border-radius: 40px;
        padding: 2rem 3rem;
        width: 100%;
        h1,
        h3 {
            margin: 0.5rem;
            margin-left: 1rem;
        }
        &-name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            .division__name {
                display: flex;
                align-items: center;
            }
        }
        &-student_count {
            display: flex;
            align-items: center;
            margin: 0 3rem;
        }

        &-add {
            font-size: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.popup {
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--color-white);
    width: 70%;
    max-width: 40rem;
    margin: 2rem;
    .popup__selected {
        width: 90%;
        margin: 1rem auto;
        display: flex;

        &-part {
            border-radius: 1rem;
            background-color: var(--color-accent);
            margin: 0.5rem;
            padding: 1rem;
            &:hover {
                color: var(--color-error);
            }
        }
    }
    .popup__items {
        &-part {
            border-radius: 1rem;
            background-color: var(--color-accent);
            width: 90%;
            margin: 1rem auto;
            padding: 1rem 2rem;
            &:hover {
                text-decoration: underline;
            }

            > input {
                margin-right: 1rem;
            }
        }
    }
}

.delete {
    float: right;
}

.status {
    &-green {
        color: #2acc3a;
    }
    &-red {
        color: red;
    }
    &-orange {
        color: orange;
    }
}

.actions {
    display: flex;
    align-items: center;
    .wrapper {
        width: 100%;
        .actions__select {
        }
    }
}

.applicant__wrapper {
    display: flex;
    .wrapper__personal {
        flex: 2;
        &-box {
            display: flex;
            border-bottom: 1px solid gray;
            line-height: 2rem;
            justify-content: space-between;
        }
    }
    .wrapper__foto {
        flex: 1;
        border: 1px solid;
        height: 20rem;
        margin-left: 4rem;
    }
    margin-bottom: 5rem;
}

.applicant__table {
    width: 50%;
    min-width: 35rem;
    text-align: center;
    line-height: 2rem;
    &-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid gray;
    }
    &-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid gray;
    }
}
