$primary: #5ba7de;
$grey-light: #aaaaaa;
.index_wrapper {
    display: flex;
    width: 70%;
    min-height: 70vh;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    border: 1px solid;

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 40%;
            transform: rotate(25deg);
        }
        h2 {
            margin: 3rem 0;
        }
        &:nth-child(1) {
            background-color: $primary;
        }
    }

    .form_division {
        padding-top: 7%;
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #5ba7de;
        .choose {
            text-align: center;
            border: 1px solid white;
            border-radius: 1rem;
            padding: 1rem 2rem;
            margin: 1rem auto;
            width: 50%;
            color: white;
            &:hover {
                color: rgb(247, 210, 1);
                border-color: rgb(247, 210, 1);
                transition: 0.3s;
            }
        }
        .radio[type="radio"]:checked + label {
            color: rgb(247, 210, 1);
            border-color: rgb(247, 210, 1);
            transition: 0.3s;
        }
        .radio {
            display: none;
        }
    }
    .form_applicant {
        flex: 2;
        border: 1px solid green;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        &-header {
            display: flex;
            justify-content: center;
        }
        &-inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 40px auto;
            .input_box {
                margin-bottom: 30px;
                width: calc(100% / 2 - 40px);
                label {
                    display: block;
                    margin-bottom: 8px;
                }
                input {
                    height: 30px;
                    width: 70%;
                    font-size: 16px;
                    border-radius: 5px;
                    padding-left: 15px;
                    border: 2px solid black;
                }
            }
        }
        &-results {
        }
        &-footer {
            display: flex;
            align-content: center;
            height: 40px;
            margin: 30px auto;
            .personal_form-submit {
                padding: 20px;
                height: 100%;
                width: 100%;
                border-radius: 1rem;
                color: black;
                font-size: 18px;
                font-weight: 5px;
                cursor: pointer;
            }
        }
    }
    .form_applicant-container{
       display: flex;
       flex-direction: column;
       margin-left: 7rem;
       input{    
            height: 30px;
            width: 70%;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 15px;
            border: 2px solid red; 
        }
        .personal_form-submit{
            border: 2px solid blue; 
        
        .form_applicant-submit_img{

            }
    }
}

}
